/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END RESET */

/*-----------------------------------------------------------------------------
 - GENERAL STYLING 
 -----------------------------------------------------------------------------*/
body {
    font-family: 'Comfortaa', Helvetica Neue, Helvetica, sans-serif;
    font-size: 21px;
    font-weight: 200;
    background-color: #fdfcfc;
}

a {
    text-decoration: none;
}

/*-----------------------------------------------------------------------------
 - GRID
 -----------------------------------------------------------------------------*/
.wrapper {
    display: grid;
    grid-template-columns: 25% repeat(3, 1fr) 25%;
    height: 100vh;
}

.main-nav {
    grid-column: 2 / -2;
}

.intro {
    grid-column: 2 / -2;
}

#mywork-header {
    grid-column: 2 / -2;
}

#portfolio {
    grid-column: 2 / -2;
}

@media only screen and (max-width: 1600px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100vh;
    }

    .main-nav {
        grid-column: 1 / -1;
    }

    .intro {
        grid-column: 1 / -1;
    }

    #mywork-header {
        grid-column: 1 / -1;
    }

    #portfolio {
        grid-column: 1 / -1;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        height: 100vh;
    }

    .main-nav {
        grid-column: 1 / -1;
    }

    .intro {
        grid-column: 1 / -1;
    }

    #mywork-header {
        grid-column: 1 / -1;
    }

    #portfolio {
        grid-column: 1 / -1;
    }
}

/*-----------------------------------------------------------------------------
 - NAVIGATION 
 ----------------------------------------------------------------------------*/

.main-nav {
    background-color: #ffffff;
}

.main-nav ul {
    display: flex;
    margin: auto;    
    padding: 10px;
    border: solid 1px rgba(90, 125, 190, 0.15);
    border-radius: 4px;
}

.main-nav ul .left {
    margin-right: auto;
}

.main-nav ul li {
    margin: 10px;
}

.main-nav ul li a {
    color: #000000
}

.secondary-nav ul {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-self: center;
    padding: 10px;
}

.secondary-nav  li {
    font-size: 0.85em;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 rgba(90, 125, 190, 0.1);
}
.secondary-nav li a {
    outline: 0; /* get rid of outline for clickable feel */
}

.secondary-nav i {
    padding: 4px;
    border: solid 1px rgba(90, 125, 190, 0.1);
    color: #a7b2bb;
    border-radius: 5px;
}

/*-----------------------------------------------------------------------------
 - MOBILE NAV
 -----------------------------------------------------------------------------*/
 .mobile-nav, .dropdown-content {
     display: none;
 }

.hamburger {
    background: #ffffff;
    border: none;
    color: #000000;
}

@media only screen and (max-width: 768px) {
    .main-nav > ul > .right {
        display: none;
    }

    .main-nav > ul {
        flex-direction: column;
    }

    .main-nav ul .left {
        margin-right: 0;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        position: absolute;
        margin-top: 5px;
    }

    .dropdown-content {
        display: none;
    }

    .hamburger > i {
        font-size: 1.65em !important;
    }

    .toggle-display {
        /* this is used for the dropdown menu */
        display: flex;
    }

}

/*----------------------------------------------------------------------------- 
 - HEADER 
 -----------------------------------------------------------------------------*/
.intro {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-self: stretch;
    border-bottom: 1px solid rgba(90, 125, 190, 0.1);
    background-color: #ffffff;
}

.intro * {
    justify-self: center;
}

.intro h1 {
    font-size: 2.85em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.intro-pic {
    height: 275px;
    width: auto;
    border-radius: 50%;
    margin: 1vh;
}

.intro h3 {
    justify-self: stretch;
    font-size: 1.25em;
    margin: 2vh;
    text-align: center;
}

.cta {
    font-size: 1.15em;
    margin-top: 1vh;
    color: #8b8b8b;
}

@media only screen and (max-width: 768px) {
    .intro h1 {
        font-size: 2.50em;
    }

    .intro h3 {
        font-size: 1.0em;
    }

    .intro-pic {
        height: 250px;
        width: auto;
    }

    .cta {
        margin: 0 10px;
        font-size: 0.9em;
        text-align: center;
    }
}

.hide {
    display: none;
}

/*----------------------------------------------------------------------------
 - PORTFOLIO 
 ----------------------------------------------------------------------------*/
#mywork-header {
    font-size: 2em;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    background: #ffffff;
}

/* Project containers */
.proj-container {
    border: 1px solid rgba(90, 125, 190, 0.1);
    height: 320px;
    width: 320px;
    text-align: center;
    font-size: 1em;
    border-radius: 12px;
    padding: 5px;
    grid-column: 2;
    justify-self: center;
    box-shadow: 0 3px 0 0 rgba(90, 125, 190, 0.15);
}

.proj-img {
    margin: 8px 0;
}

.proj-desc {
    font-size: 0.8em;
    color: #8b8b8b;
    margin: 4px 4px;
}

.proj-tech {
    font-size: 0.8em;
    margin: 0.9em;
    color: #92b9f3;
}

.proj-link, .proj-link:visited, .proj-src, .proj-src:visited {
    font-size: 0.60em;
    font-family: 'Quantico';
    color: #8b8b8b;
    border: solid 1px rgba(90, 125, 190, 0.1);
    box-shadow: 0 3px 0 0 rgba(90, 125, 190, 0.15);
    border-radius: 5px;
    padding: 2px 4px;
    text-decoration: none;
    text-transform: uppercase;
}



/*-----------------------------------------------------------------------------
 - HOVER EFFECTS
 -----------------------------------------------------------------------------*/
.main-nav ul li a:hover, 
/* Need both of the following for firefox */
.main-nav ul button:hover i, 
.main-nav ul button:hover, 
.secondary-nav ul li a i:hover {
    color: #3d8bff;
    cursor: pointer;
}

.secondary-nav li:hover {
    transform: scale(1.05);
}

.secondary-nav li:active {
    transform: scale(1.00);
}

.proj-link:hover, .proj-src:hover {
    color: #3d8bff;
}

.proj-link:hover .blink, .proj-src:hover .blink {
    animation-name: blink;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

a:visited {
    color: inherit;
}

@keyframes blink {
    from {color: #f8f5f5;}
    to {color: #3d8bff;}
}

/*-----------------------------------------------------------------------------
 - Rotating phrases
 -----------------------------------------------------------------------------*/
.rot-phrase {
    color: #ffc525;
    font-weight: 600;
    margin-right: 200px;
    line-height: normal;
}

@media only screen and (max-width: 600px) {
    #funny-phrase {
        font-size: 0.75em;
    }
}
.rot-phrase span {
    /* opacity: 1; */
    overflow: hidden;
    position: absolute;
    animation: rotate-phrase 15s linear infinite 0s;
}

.rot-phrase span:nth-child(2) {
    opacity: 0;
    animation-delay: 5s;
    color: #ffc525;
}

.rot-phrase span:nth-child(3) {
    opacity: 0;
    animation-delay: 10s;
    color: #ffc525;
}

@keyframes rotate-phrase {
    0% { opacity: 0; }
    2% { opacity: 0; transform: translateY(-30px); -webkit-transform: translateY(-30px) }
    5% { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px) }
    15% { opacity: 1; transform: translateY(0px); -webkit-transform: translateY(0px) }
    25% { opacity: 0; transform: translateY(30px); -webkit-transform: translateY(30px) }
    70% { opacity: 0; }
    100% { opacity: 0; }
}

